

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1; /* This makes the content area fill the remaining space */
  padding: 24px;
  background-color: #f9fafb;
}